/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

/* Global styles */

:root {
  :root,
  :root.light {
    --color-bg: #ffffff;
  }

  :root.dark {
    --color-bg: #343434;
  }
}

body {
  font-family: "Josefin", Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  height: 100vh;
}

.wrapper {
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 5px black solid;
}

@media (min-width: 1200px) {
  .section {
    flex-direction: row;
    border: none;
    justify-content: center;
  }
}

/* Components */

.header {
  font-size: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .header {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: 2rem;
  }
}

.toggle {
  background-color: #607d8b;
  color: #607d8b;
  visibility: hidden;
}

.toggle_label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
}

.slider {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border: 5px solid white;
  content: "";
  height: 36px;
  width: 36px;
  right: 10px;
  left: 7px;
  top: 7px;
  position: absolute;
  transition: 0.4s;
  border-radius: 50%;
}

.image {
  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .game {
    font-size: 2rem;
    justify-content: center;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.tooltip {
   cursor: pointer;
   color: red;
   font-style: italic;
   font-size: 1rem;
   
}

.tooltiptext {
   display: none;
}

.tooltip:hover .tooltiptext {
   display: block;
}

.tooltip:hover .hint {
   display: none;
}

.tries {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(14, 207, 14);
}

.gamefield {
   display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input {
  height: 40px;
  color: black;
  border: 2px black solid;
  border-radius: 50px;
  padding: 0.5rem;
}

.button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  border-radius: 50px;
}

.button:hover {
  border: 2px white solid;
}

@media (min-width: 1200px) {
  .footer {
    font-size: 2rem;
  }
}

.footer__networks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.networks__image {
  height: 40px;
  width: 40px;
}

/* Layout */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
